version: '2.0'
services:
  sockredis:
    image: longwind/sockredis:latest
    links:
      - redis
    expose:
      - "3000"
    ports:
      - "3000:3000"
    environment:
      - LISTENPORT=3000
      - REDISHOST=redis

  redis:
    image: redis:alpine
    container_name: redis
    hostname: redis
    expose:
      - "6379"
    ports:
      - "6379:6379"
